.full-height
  height: 100%

.brand
  flex: 1 1 auto
  display: flex
  justify-content: center
  align-items: center
  margin-left: -62px
  font-size: 2em

mat-icon
  margin-right: 2%

.mat-drawer
  width: 20%

.mat-toolbar
  margin-bottom: 2%

img
  &.logo
    height: 50px